.contact {
  position: relative;

  .text-zone {
    position: absolute;
    top: 20px;
    left: 80px;
    width: calc(100% - 80px);
    text-align: left;
  }

  h1 {
    margin: 0;
    color: #fff;
    font-size: 56px;
    font-family: "Coolvetica";
    font-weight: 400;
    letter-spacing: 3px;
  }

  p {
    margin-top: 20px;
    font-size: 18px;
    color: #ddd;
  }
}
