.experience {
  position: relative;

  .text-zone {
    position: absolute;
    top: 20px;
    left: 80px;
    width: calc(100% - 80px);
    text-align: left;
  }

  p {
    margin-top: 20px;
    font-size: 18px;
    color: #ddd;
  }
}
